<div class="col-xs-12 m-0 p-0 y-investor-footer">
    <div class="col-xs-12 footer-contents">
        <div class="col-xs-3">
            <h4>Hack On</h4>
            <p>Lorem ipsum dolor sit ament <br>
            </p>
        </div>
        <div class="col-xs-2 links">
            <h4>Hack Links</h4>
            <ul>
                <li ng-click="ctrl.goTo('home')">Home</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 copy-right">
        <p>
            <i class="fa fa-copyright"></i> 2017 copy rights
        </p>
    </div>
</div>
