<div class="col-xs-12 y-investor-header p-0">

    <div class="col-xs-12 header-tabs-container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-8 p-0 text-right">
            <ul class="nav navbar-nav navbar-y-investor">
                <li ng-class="ctrl.activeClass == 'home' ? 'active' : ''" ng-click="ctrl.goTo('home')"><a>HOME</a></li>
                <li ng-class="ctrl.activeClass == 'challenge' ? 'active' : ''">
                    <a>Others</a>
                </li>
            </ul>
        </div>

    </div>
</div>


